In [1]:
import pandas as pd
import math

# https://sistemaswebb3-listados.b3.com.br/indexPage/day/IBOV?language=pt-br
dataColumns =  pd.read_csv('IBOVDia_04-08-22.csv', sep=';', skiprows=1, encoding='latin-1')
columns = dataColumns.columns
columns

Index(['Código', 'Ação', 'Tipo', 'Qtde. Teórica', 'Part. (%)'], dtype='object')

In [2]:
data =  pd.read_csv('IBOVDia_04-08-22.csv', sep=';', skiprows=2, skipfooter=2, header=None, encoding='latin-1', engine='python')
data = data.rename(columns={0: columns[0], 1: columns[1], 2: columns[2], 3: columns[3], 4: columns[4]})
data.drop([5], axis=1)

   Código          Ação        Tipo  Qtde. Teórica Part. (%)
0   RRRP3  3R PETROLEUM  ON      NM    200.372.163     0,340
1   ALPA4    ALPARGATAS  PN      N1    201.257.220     0,222
2   ABEV3     AMBEV S/A          ON  4.380.195.841     3,319
3   AMER3    AMERICANAS  ON      NM    596.875.824     0,456
4   ASAI3         ASSAI  ON      NM    794.531.367     0,681
..    ...           ...         ...            ...       ...
85  VALE3          VALE  ON      NM  3.768.748.489    13,179
86  VIIA3           VIA  ON      NM  1.596.295.753     0,217
87  VBBR3         VIBRA  ON      NM  1.131.883.365     1,042
88  WEGE3           WEG  ON      NM  1.484.859.030     2,162
89  YDUQ3    YDUQS PART  ON      NM    300.833.122     0,223

[90 rows x 5 columns]

In [3]:
cod = data['Código'].to_numpy()
cod

array(['RRRP3', 'ALPA4', 'ABEV3', 'AMER3', 'ASAI3', 'AZUL4', 'B3SA3',
       'BPAN4', 'BBSE3', 'BRML3', 'BBDC3', 'BBDC4', 'BRAP4', 'BBAS3',
       'BRKM5', 'BRFS3', 'BPAC11', 'CRFB3', 'CCRO3', 'CMIG4', 'CIEL3',
       'COGN3', 'CPLE6', 'CSAN3', 'CPFE3', 'CMIN3', 'CVCB3', 'CYRE3',
       'DXCO3', 'ECOR3', 'ELET3', 'ELET6', 'EMBR3', 'ENBR3', 'ENGI11',
       'ENEV3', 'EGIE3', 'EQTL3', 'EZTC3', 'FLRY3', 'GGBR4', 'GOAU4',
       'GOLL4', 'NTCO3', 'SOMA3', 'HAPV3', 'HYPE3', 'IGTI11', 'IRBR3',
       'ITSA4', 'ITUB4', 'JBSS3', 'JHSF3', 'KLBN11', 'RENT3', 'LWSA3',
       'LREN3', 'MGLU3', 'MRFG3', 'CASH3', 'BEEF3', 'MRVE3', 'MULT3',
       'PCAR3', 'PETR3', 'PETR4', 'PRIO3', 'PETZ3', 'POSI3', 'QUAL3',
       'RADL3', 'RDOR3', 'RAIL3', 'SBSP3', 'SANB11', 'CSNA3', 'SLCE3',
       'SULA11', 'SUZB3', 'TAEE11', 'VIVT3', 'TIMS3', 'TOTS3', 'UGPA3',
       'USIM5', 'VALE3', 'VIIA3', 'VBBR3', 'WEGE3', 'YDUQ3'], dtype=object)

In [4]:
#https://statusinvest.com.br/acoes/busca-avancada
#http://www.fundamentus.com.br/buscaavancada.php

In [5]:
dataI =  pd.read_csv('statusinvest-busca-avancada.csv', sep=';',encoding='latin-1', engine='python')
dataI.shape

(206, 30)

In [6]:
dataI["TICKER"].isin(cod)

0      False
1       True
2      False
3      False
4      False
       ...
201    False
202    False
203     True
204    False
205     True
Name: TICKER, Length: 206, dtype: bool

In [22]:
dataIBOV=dataI[dataI["TICKER"].isin(cod)]
columns = dataIBOV.columns
columns

Index(['TICKER', 'PRECO', 'DY', 'P/L', 'P/VP', 'P/ATIVOS', 'MARGEM BRUTA',
       'MARGEM EBIT', 'MARG. LIQUIDA', 'P/EBIT', 'EV/EBIT',
       'DIVIDA LIQUIDA / EBIT', 'DIV. LIQ. / PATRI.', 'PSR', 'P/CAP. GIRO',
       'P. AT CIR. LIQ.', 'LIQ. CORRENTE', 'ROE', 'ROA', 'ROIC',
       'PATRIMONIO / ATIVOS', 'PASSIVOS / ATIVOS', 'GIRO ATIVOS',
       'CAGR RECEITAS 5 ANOS', 'CAGR LUCROS 5 ANOS', ' LIQUIDEZ MEDIA DIARIA',
       ' VPA', ' LPA', ' PEG Ratio', ' VALOR DE MERCADO'],
      dtype='object')

In [8]:
dataIBOV.shape

(77, 30)

In [23]:
dataIBOV

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA,VPA,LPA,PEG Ratio,VALOR DE MERCADO
1,ABEV3,"14,67","4,11","17,06","2,68","1,69","49,91","22,47","17,60","13,37",...,"0,63","0,36","0,56","9,82","1,54","410.988.999,46","5,48","0,86","-2,41","229.008.153.013,54"
5,ALPA4,"22,31","1,95","25,81","2,82","1,72","48,45","13,31","14,87","28,84",...,"0,61","0,38","0,45","-0,53","10,32","73.494.102,33","7,91","0,87","0,18","14.062.389.968,95"
9,AMER3,"15,11","4,10","24,09","0,90","0,31","30,11","4,29","2,15","12,08",...,"0,35","0,65","0,61","21,42",NaN,"208.812.660,54","16,90","0,63","-0,08","13.887.959.739,00"
12,ASAI3,"16,86","1,02","14,17","6,84","0,68","16,73","5,80","3,39","8,28",...,"0,10","0,90","1,41",NaN,NaN,"121.050.992,88","2,46","1,19","-3,38","22.557.605.502,18"
15,B3SA3,"11,84","5,97","15,82","3,31","1,42","89,78","59,11","44,83","12,00",...,"0,43","0,57","0,20","34,69","25,83","428.505.664,25","3,58","0,75","3,87","71.968.200.000,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,VALE3,"67,51","17,65","3,11","1,74","0,73","53,70","43,70","41,78","2,98",...,"0,42","0,56","0,56","25,41","50,75","2.099.321.698,67","38,91","21,69","0,23","322.622.814.145,13"
196,VBBR3,"18,43","3,16","9,22","1,71","0,58","5,05","1,91","1,64","7,89",...,"0,34","0,66","3,86","8,47",NaN,"173.259.534,79","10,80","2,00","-0,21","21.529.200.000,00"
199,VIVT3,"45,29","7,90","13,88","1,12","0,63","43,12","14,59","11,97","11,39",...,"0,57","0,43","0,38","0,71","6,02","81.579.214,83","40,57","3,26","0,98","75.898.226.145,46"
203,WEGE3,"28,84","1,63","34,16","9,02","4,68","27,88","15,77","13,25","28,69",...,"0,52","0,47","1,03","20,26","25,96","210.537.048,75","3,20","0,84","4,34","120.253.160.642,70"
205,YDUQ3,"14,80","0,85","23,95","1,39","0,45","55,33","13,49","4,24","7,53",...,"0,33","0,67","0,45","6,64","-12,30","53.491.092,58","10,61","0,62","-0,03","4.580.696.771,82"

In [26]:
dataIBOV = dataIBOV.replace({',': '.'}, regex=True)
dataIBOV = dataIBOV.astype({columns[26]:'float', columns[27]:'float'})
dataIBOV

,TICKER,PRECO,DY,P/L,P/VP,P/ATIVOS,MARGEM BRUTA,MARGEM EBIT,MARG. LIQUIDA,P/EBIT,...,PATRIMONIO / ATIVOS,PASSIVOS / ATIVOS,GIRO ATIVOS,CAGR RECEITAS 5 ANOS,CAGR LUCROS 5 ANOS,LIQUIDEZ MEDIA DIARIA,VPA,LPA,PEG Ratio,VALOR DE MERCADO
1,ABEV3,14.67,4.11,17.06,2.68,1.69,49.91,22.47,17.60,13.37,...,0.63,0.36,0.56,9.82,1.54,410.988.999.46,5.48,0.86,-2.41,229.008.153.013.54
5,ALPA4,22.31,1.95,25.81,2.82,1.72,48.45,13.31,14.87,28.84,...,0.61,0.38,0.45,-0.53,10.32,73.494.102.33,7.91,0.87,0.18,14.062.389.968.95
9,AMER3,15.11,4.10,24.09,0.90,0.31,30.11,4.29,2.15,12.08,...,0.35,0.65,0.61,21.42,NaN,208.812.660.54,16.90,0.63,-0.08,13.887.959.739.00
12,ASAI3,16.86,1.02,14.17,6.84,0.68,16.73,5.80,3.39,8.28,...,0.10,0.90,1.41,NaN,NaN,121.050.992.88,2.46,1.19,-3.38,22.557.605.502.18
15,B3SA3,11.84,5.97,15.82,3.31,1.42,89.78,59.11,44.83,12.00,...,0.43,0.57,0.20,34.69,25.83,428.505.664.25,3.58,0.75,3.87,71.968.200.000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,VALE3,67.51,17.65,3.11,1.74,0.73,53.70,43.70,41.78,2.98,...,0.42,0.56,0.56,25.41,50.75,2.099.321.698.67,38.91,21.69,0.23,322.622.814.145.13
196,VBBR3,18.43,3.16,9.22,1.71,0.58,5.05,1.91,1.64,7.89,...,0.34,0.66,3.86,8.47,NaN,173.259.534.79,10.80,2.00,-0.21,21.529.200.000.00
199,VIVT3,45.29,7.90,13.88,1.12,0.63,43.12,14.59,11.97,11.39,...,0.57,0.43,0.38,0.71,6.02,81.579.214.83,40.57,3.26,0.98,75.898.226.145.46
203,WEGE3,28.84,1.63,34.16,9.02,4.68,27.88,15.77,13.25,28.69,...,0.52,0.47,1.03,20.26,25.96,210.537.048.75,3.20,0.84,4.34,120.253.160.642.70
205,YDUQ3,14.80,0.85,23.95,1.39,0.45,55.33,13.49,4.24,7.53,...,0.33,0.67,0.45,6.64,-12.30,53.491.092.58,10.61,0.62,-0.03,4.580.696.771.82

In [33]:
dataIBOV["formula-grant"] = dataIBOV[columns[26]]*dataIBOV[columns[27]]*22.5
dataIBOV = dataIBOV.astype({"formula-grant":"float"})

dataIBOV

TypeError: cannot convert the series to <class 'float'>

In [32]:
math.sqrt(6)

2.449489742783178

In [ ]:
#dataIBOV = dataIBOV.assign(f = lambda df: df[columns[26]] * df[columns[27]])
df2 = df.apply(lambda x: float(df[columns[26]])*22.5)
df2